<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Perpustakaan</title>
</head>
<body>
    <nav class="navbar position-fixed navbar-white bg-white col-12 p-3 pt-1 shadow" style="z-index: 3;">
        <a class="navbar-brand" href="#">Navbar</a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control border border-dark col-9 mr-1" style="border-radius: 20px;" type="search" placeholder="cari buku" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0 col-2 rounded rounded-circle" type="submit">S</button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ml-auto">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
           
        </div>
    </nav>

    <!-- landing -->
    <div class="row col-12 m-0 p-0 position-relative">
        <div class="col-md-6 col-12 position-relative">
            <h1 class="text-landing float-right pr-3" style="z-index: 1;">Selamat Datang di Website Perpustakaan SMKN 1 Boyolangu</h1>
        </div>
        <div class="col-md-6 col-12 p-0">
            <img src="assets/images/library.jpg" alt="" class="img-landing m-0 p-0 col-12">
        </div>
    </div>
    <!-- quotes -->
    <div class="row col-12 mt-4 mb-4 m-0 p-5">
        <div class="col-md-6 col-8 m-auto ">
            <h1 class="font-weight-light text-center ">
                “Outside of a dog, a book is man's best friend. Inside of a dog it's too dark to read.”
                <br>
            </h1>
            <h4 class="font-weight-light text-center text-secondary">
                ― Groucho Marx, The Essential Groucho: Writings For By And About Groucho Marx
            </h4>
        </div>
    </div>
    <!-- best books to read -->
    <div class="row col-12 m-0 p-0 position-relative">
        <img class="img-banner col-12 m-0 p-0" src="assets/images/best_books.jpg" alt="" srcset="">
        <h1 class="txt-banner col-12 text-center">Buku Terpopuler Untuk Dibaca</h1>
    </div>
    <div class="row col-12 pl-5 pr-5 p-0 m-0" style="margin-top: -50px !important; margin-bottom: 100px !important;">
        <div class="col-lg-3 col-md-4 col-6 p-1 m-0">
            <div class="card col-12 m-0 p-0" data-aos="fade-up"
     data-aos-duration="1000">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body text-left">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><span class="text-secondary">Tempat</span>
                        Lab RPL 2</p>
                    <div class="text-secondary">
                        Kondisi <span class="text-danger">Perlu diganti</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 p-1 m-0">
            <div class="card col-12 m-0 p-0" data-aos="fade-up"
     data-aos-duration="1500">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body text-left">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><span class="text-secondary">Tempat</span>
                        Lab RPL 2</p>
                    <div class="text-secondary">
                        Kondisi <span class="text-warning">Perlu dirawat</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 p-1 m-0">
            <div class="card col-12 m-0 p-0" data-aos="fade-up"
     data-aos-duration="2000">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body text-left">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><span class="text-secondary">Tempat</span>
                        Lab RPL 2</p>
                    <div class="text-secondary">
                        Kondisi <span class="text-success">Baik</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 p-1 m-0">
            <div class="card colm-0 p-0" data-aos="fade-up"
     data-aos-duration="2500">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body text-left">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><span class="text-secondary">Tempat</span>
                        Lab RPL 2</p>
                    <div class="text-secondary">
                        Kondisi <span class="text-success">Baik</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- signup -->
<div class="row col-12 m-0 p-0">
    <div class="col-md-6 col-12 m-0 p-4 bg-light">
        <h1 class="text-dark col-12 pt-5 m-auto text-md-right text-left">
            Belum Punya Akun? Silahkan daftar dengan mengisi form ini.
        </h1>
    </div>
    <div class="col-md-6 col-12 m-0 p-4 bg-light">
        <form class="border border-info p-3 rounded">
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button class="btn btn-info col-12 p-3">Daftar</button>
        </form>
    </div>
</div>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</html>